.idea
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
*.egg-info
*.aof
*.sock
*.rdb
log
/.project
_local_datastore
_local_data
_local_images
_docker_images
_docker_data
_data
_log
node_modules/
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
extlib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
*.mo
*.pot
# *.log    (wird in diesem Fall explizit benötigt)
local_settings.py
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.python-version
celerybeat-schedule
*.sage.py
.venv
venv/
ENV/
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
*.[oa]
angular_dist/
*/angular_src/*/documentation
.vscode
app-backend/dist
app-backend/node_modules
/platforms
android/
*.backup

